.testimonials {
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}

.nextBtn,
.backBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    background: #212ea0;
}

.backBtn {
    right: auto;
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: .5s;

}

.slider ul li {
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;

}

.slide img {
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212ea0;

}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.userInfo h3 {
    color: #212ea0;
}


/* Media Query */
@media (max-width: 800px) {
    .testimonials {
        padding: 0 40px;
    }

    .nextBtn,
    .backBtn {
        padding: 10px;
        width: 35px;
    }

    .testimonials ul li {
        padding: 10px;
    }

    .slide {
        padding: 10px;
    }

    .slide img {
        width: 50px;
        border: 3px solid #212ea0;
    }
}


@media (max-width: 660px) {
    .userInfo {
        display: block;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .userInfo h3{
        font-size: 16px;
    }
    .slider p {
        font-size: 12px;
    }
}